* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

aside {
    width: 30%;
    padding: 15px;
    background-color: #ECEFF1;
}
aside #path {
    display: block;
    width: 95%;
    margin: 0 auto 15px;
    font-size: 24px;
    padding: 8px;
    background-color: #ECEFF1;
    border: 1px solid #263238;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
aside #path:focus {
    background-color: white;
    transition: all 0.3s;
}
aside .switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}
aside .switch-off {
    background-color: #B0BEC5;
}
aside .switch-on {
    background-color: #42A5F5;
}
aside .switch .toggler {
    position: absolute;
    top: -3px;
    width: 26px;
    height: 26px;
    background-color: #263238;
    border-radius: 13px;
}
aside .switch-off .toggler {
    left: -3px;
}
aside .switch-on .toggler {
    right: -3px;
}
aside .menu-bar {
    margin: 10px;
}
aside .menu-bar p {
    display: inline-block;
    vertical-align: super;
    line-height: 40px;
    margin-left: 10px;
    font-size: 18px;
}
aside input[type="submit"] {
    display: inline-block;
    margin: 10px 15px 15px 0;
    font-size: 18px;
    background-color: #263238;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

main {
    width: 70%;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
}
main #colors {
    width: 90%;
    height: 75px;
    margin: 0 auto 20px;
    background: #efefef;
    border-radius: 10px;
    overflow: hidden;
}
main #colors .extention {
    display: inline-block;
    height: 100%;
}
main #results {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #292929;
    border-radius: 10px;
    overflow: hidden;
}
main #results .result-line {
    width: 100%;
    height: 40px;
    margin: 10px 0;
}
main #results .result-line .color-thumbnail {
    display: inline-block;
    margin: 0 10px 0 15px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    vertical-align: middle;
}
main #results .result-line .extention {
    line-height: 40px;
}